

        name: Flutter CI
        on:
          push:
            branches: [ "master" ]
          pull_request:
            branches: [ "master" ]

        jobs:
          build:
            runs-on: ubuntu-latest

            steps:
#              - uses: actions/checkout@v4
              #1 Checkout Repository
              - name: Checkout Repository
                uses: actions/checkout@v4

                #2 Setup Java
              - name: Set Up Java
                uses: actions/setup-java@v3.12.0
                with:
                    distribution: 'oracle'
                    java-version: '17'

                #3 Setup Flutter
              - name: Set Up Flutter
                uses: subosito/flutter-action@v2
                with:
                  flutter-version: '3.29.2'
                  channel: 'stable'

              #4 Enable dependency caching (super important!)
              - name: Cache Flutter packages
                uses: actions/cache@v3
                with:
                  path: |
                    ~/.pub-cache
                        build
                  key: ${{ runner.os }}-pub-${{ hashFiles('pubspec.lock') }}


              - name: Clean
                run: flutter clean

              - name: Install dependencies
                run: flutter pub get

              - name: Build APK
                run: flutter build apk --release

